.cover__subtitle {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  max-width: 360px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    height: 48px;
  }
}
