.cover__item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: 0.9s;
}

.cover__item:hover {
  background-color: rgb(0, 0, 0, 0.5);
}
