.cover__item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: 0.9s;
  background-color: rgb(42, 44, 47, 0.3);
}

.cover__item:hover {
  background-color: rgb(42, 44, 47, 0.8);
}
